@media (prefers-reduced-motion: no-preference) {
  .logo-spin {
    animation: an-spin infinite 20s linear;
  }
}

@keyframes an-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
