body {
    margin: 0;
    padding: 0;
}

.nav-shadow {
    box-shadow: 0 0.125rem 9.375rem rgba(#5A6169, .1),
                0 0.25rem 0.5rem rgba(#5A6169, .12),
                0 0.9375rem 1.375rem rgba(#5A6169, .10),
                0 0.4375rem 2.1875rem rgba(#A5B6C9, .10);
}